<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/masterLayout}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <style th:inline="text">
        label,
        .form-control {
            font-size: 13px !important;
            padding: 10px 5px;
            color: rgb(58, 57, 57) !important;

        }

        form input[type="file"] {
            display: none;
            cursor: pointer;
        }
        .alert{
            font-size: 13px;
        }
        .bi{
            color: #5c5b5b;
        }
        .input-group-text{
            border-radius: 0;
            background-color: #ececec98 !important;
        }
    </style>

</head>

<body>

    <div layout:fragment="content">

        <div class="bg-white mt-5 container-fluid">
            <div class="row no-gutters justify-content-center py-5">
                <div class="col-xl-4 col-lg-4 col-md-5 col-sm-6 col-12 ">
                    <div class="profile-content-right">
                        <div class="tab-content px-3 px-xl-5  border">
                            <div role="tabpanel">
                                <div class="mt-5">
                                    <h5 style="font-weight: 500;">Change Your Password</h5>
                                    <form th:action="@{/change-password}" method="post"
                                        th:object="${passwordDto}">

                                        <div class="">
                                            <div class="row mb-2 ">
                                                <div class="col-6">
                                                    <label for="currentPassword" class="col-form-label">Current
                                                        Password</label>
                                                </div>
                                                <div class="input-group col-8 mt-2 mb-0">
                                                    <input th:field="*{currentPassword}" type="password"
                                                        id="currentPassword" autocomplete="off" class="form-control"
                                                        aria-describedby="passwordHelpInline">
                                                </div>

                                            </div>
                                            <div class="row d-flex justify-content-end">
                                                <div class="col-12">
                                                    <!-- handle erro -->
                                                    <p class="alert mb-1 p-2 text-danger" th:text="${notMatch}"></p>
                                                    <p th:if="${#fields.hasErrors('currentPassword')}"
                                                        th:errors="*{currentPassword}" class="p-2 alert alert-danger"></p>
                                                </div>

                                            </div>

                                            <div class="row mb-2">
                                                <div class="col-6">
                                                    <label for="newPassword" class="col-form-label">New Password
                                                    </label>
                                                </div>
                                                <div class="input-group col-8 mb-0">
                                                    <input th:field="*{newPassword}" type="password" id="newPassword"
                                                        class="form-control" aria-describedby="passwordHelpInline">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text">
                                                            <i class="bi bi-eye-slash py-1" aria-hidden="true"></i>
                                                        </span>
                                                    </div>
                                                </div> 
                                                <span style="font-size: 12px; color: #5c5b5b91;" class="mt-2 d-block">
                                                    Password must be 8 or more characters in length
                                                </span>
                                            </div>
                                            <div class="row d-flex justify-content-end">
                                                <div class="col-12">
                                                    <!-- handle erro -->
                                                    <p th:if="${#fields.hasErrors('newPassword')}"
                                                        th:errors="*{newPassword}" class="alert alert-danger p-2"></p>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-6">
                                                    <label for="confirmPassword" class="col-form-label">Confirm
                                                        Password</label>
                                                </div>
                                                <div class="input-group col-8 mt-2 mb-2">
                                                    <input th:field="*{confirmedPassword}" type="password"
                                                        id="confirmPassword" class="form-control"
                                                        aria-describedby="passwordHelpInline">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text">
                                                            <i class="bi bi-eye-slash py-1" aria-hidden="true"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row d-flex justify-content-end">
                                                <div class="col-12">
                                                    <!-- handle erro -->
                                                    <p th:if="${#fields.hasErrors('confirmedPassword')}"
                                                        th:errors="*{confirmedPassword}" class="p-2 alert alert-danger"></p>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="d-flex justify-content-end mt-3">
                                            <button type="submit" style="font-size: 13px; font-weight: 400; border-color: #05a081;
                                                background: #05a081;" class="btn btn-primary mb-4 btn-pill">
                                                Change Password
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>

</html>