<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/masterLayout}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <style th:inline="text">
        label {
            font-size: 13px !important;
            padding: 10px 5px;
            color: rgb(58, 57, 57) !important;

        }

        .form-control {
            color: #8f8f8f !important;
            font-size: 14px !important;
            font-weight: 500;
        }

        form input[type="file"] {
            display: none;
            cursor: pointer;
        }
    </style>

</head>

<body>

    <section layout:fragment="content">
        <div class="container-fluid">
            <div class="row no-gutters justify-content-center">
                <div class="col-xl-6 col-lg-6 col-md-7 col-12 col-xl-6">
                    <div class="profile-content-right">
                        <div class="tab-content px-3 px-xl-5">
                            <div role="tabpanel">
                                <div class="mt-5">
                                    <h5>Profile settings</h5>
                                    <form th:action="@{/users-edit-profile}" method="post" th:object="${data}">
                                        <div class="row mb-2">
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-12 mt-2">
                                                <div class="form-group">
                                                    <label for="firstName">familyName
                                                        <i style="font-size: 14px;color: rgb(216, 0, 0);">*</i>
                                                    </label>
                                                    <input required th:value="*{familyName}" th:name=familyName
                                                        type="text" class="form-control">
                                                </div>
                                            </div>

                                            <div class="col-xl-6 col-lg-6 col-md-6 col-12 mt-2">
                                                <div class="form-group">
                                                    <label for="lastName">givenName
                                                        <i style="font-size: 14px;color: rgb(216, 0, 0);">*</i>
                                                    </label>
                                                    <input required th:value="*{givenName}" th:name=givenName
                                                        type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group mb-4 col-xl-6 col-lg-6 col-md-6 col-12 mt-2">
                                                <label for="phoneNumInput">Phone Number
                                                    <i style="font-size: 14px;color: rgb(216, 0, 0);">*</i>
                                                </label>
                                                <input required th:value="*{phoneNumber}" th:name=phoneNumber
                                                    type="text" class="form-control" id="phoneNumInput"
                                                    placeholder="+855*********">
                                            </div>

                                            <div class="form-group mb-4 col-xl-6 col-lg-6 col-md-6 col-12 mt-2">
                                                <label for="emailInput">Email address
                                                    <i style="font-size: 14px;color: rgb(216, 0, 0);">*</i>
                                                </label>
                                                <input th:value="*{email}" th:name="email" required type="email"
                                                    class="form-control" id="emailInput"
                                                    placeholder="example@gmail.com">
                                            </div>
                                        </div>

                                        <div class="d-flex justify-content-end mt-2">
                                            <button type="submit" style="font-size: 13px;  border-color: #05a081;
                                                background: #05a081;" class="btn btn-primary mb-2 btn-pill">
                                                Update Profile
                                            </button>
                                        </div>

                                    </form>
                                </div>
                            </div>

                            <div>
                                <h5 style="font-size: 15px;font-weight: 550;">Password</h5>
                                <a th:href="@{/change-password}">
                                    <button type="button" class="btn"
                                        style="color: rgb(124, 124, 124);font-size: 13px;background-color: rgb(233, 233, 233);">
                                        Change Password
                                    </button>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</body>

</html>