<style>
    body{

background: #d1d5db;
}

.height{

height: 100vh;
}

.form{

position: relative;
}

.form .fa-search{

position: absolute;
top:20px;
left: 20px;
color: #9ca3af;

}

.form span{

    position: absolute;
right: 17px;
top: 13px;
padding: 2px;
border-left: 1px solid #d1d5db;

}

.left-pan{
padding-left: 7px;
}

.left-pan i{

padding-left: 10px;
}

.form-input{

height: 55px;
text-indent: 33px;
border-radius: 10px;
}

.form-input:focus{

box-shadow: none;
border:none;
}
</style>
<section id="hero" style="height: 86vh;">
    <div class="hero-container">
        <h1>Cambolen</h1>
        <h2 style="text-align: center;  line-height: 25px;">To provide users and creators publish their photos.<br>
            designers and other creators can get access to those beautiful photos for free.</h2>
            <div class="form" style="width: 50%;">
                <input autofocus type="text" class="form-control form-input" placeholder="Search for photos...">
                <span class="left-pan"><i class="bx bx-search"></i></span>
              </div>
        <a href="#portfolio" class="btn-scroll scrollto" title="Scroll Down"><i class="bx bx-chevron-down"></i></a>
    </div>
</section>