<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/masterLayout}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Home</title> -->
    
</head>

<body>
    <div layout:fragment="content">

        <!-- ======= Hero Section ======= -->
        <div th:replace="~{fragments/banner}"></div>
        <!-- End Hero -->

        <!-- ======= My Portfolio Section ======= -->
        <div th:replace="~{post/data}"></div>
  
        <!-- do asyngronized here -->
        <!-- End My Portfolio Section -->

        <th:block layout:fragment="scripts">
        
        </th:block>

        

        
</body>

</html>